In [143]:
import pandas as pd
df = pd.read_csv('Melbourne_housing_FULL.csv')

In [144]:
df['Date'] = pd.to_datetime(df['Date'])

In [145]:
df = df.loc[df.Date >= ('2018')]

In [146]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
29217,Abbotsford,1009/1 Acacia Pl,2,u,750000.0,VB,Jellis,2018-06-01,3.0,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
29218,Aberfeldie,22 Beaver St,4,h,1630000.0,PI,Nelson,2018-06-01,7.5,3040.0,...,1.0,1.0,NaN,NaN,NaN,Moonee Valley City Council,-37.75790,144.90130,Western Metropolitan,1543.0
29219,Airport West,32 Coniston Av,3,h,970000.0,S,Barry,2018-06-01,10.4,3042.0,...,1.0,2.0,634.0,140.0,1960.0,Moonee Valley City Council,-37.72904,144.88259,Western Metropolitan,3464.0
29220,Airport West,23 Matthews Av,4,h,790000.0,VB,Barry,2018-06-01,10.4,3042.0,...,2.0,1.0,585.0,178.0,2015.0,Moonee Valley City Council,-37.73344,144.88925,Western Metropolitan,3464.0
29221,Airport West,8 Miriam Ct,3,h,1025000.0,S,Nelson,2018-06-01,10.4,3042.0,...,1.0,1.0,791.0,NaN,NaN,Moonee Valley City Council,-37.72648,144.87571,Western Metropolitan,3464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,2018-02-24,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,2018-02-24,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,2018-02-24,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,2018-02-24,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,2018-02-24,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [147]:
df.drop(['Method', 'SellerG','Postcode','CouncilArea','Lattitude','Longtitude','Regionname','Propertycount','BuildingArea','YearBuilt'], axis=1, inplace = True)

In [148]:
df

,Suburb,Address,Rooms,Type,Price,Date,Distance,Bedroom2,Bathroom,Car,Landsize
29217,Abbotsford,1009/1 Acacia Pl,2,u,750000.0,2018-06-01,3.0,NaN,NaN,NaN,NaN
29218,Aberfeldie,22 Beaver St,4,h,1630000.0,2018-06-01,7.5,4.0,1.0,1.0,NaN
29219,Airport West,32 Coniston Av,3,h,970000.0,2018-06-01,10.4,3.0,1.0,2.0,634.0
29220,Airport West,23 Matthews Av,4,h,790000.0,2018-06-01,10.4,4.0,2.0,1.0,585.0
29221,Airport West,8 Miriam Ct,3,h,1025000.0,2018-06-01,10.4,3.0,1.0,1.0,791.0
...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,2018-02-24,6.3,4.0,1.0,3.0,593.0
34853,Yarraville,29A Murray St,2,h,888000.0,2018-02-24,6.3,2.0,2.0,1.0,98.0
34854,Yarraville,147A Severn St,2,t,705000.0,2018-02-24,6.3,2.0,1.0,2.0,220.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,2018-02-24,6.3,NaN,NaN,NaN,NaN
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,2018-02-24,6.3,2.0,1.0,0.0,250.0

In [149]:
df.isna().sum()

Suburb         0
Address        0
Rooms          0
Type           0
Price       1039
Date           0
Distance       1
Bedroom2    1400
Bathroom    1403
Car         1566
Landsize    1744
dtype: int64

In [150]:
df.dropna(subset=['Distance','Bedroom2','Bathroom','Car','Landsize','Price'], inplace = True)

In [151]:
df.head()

,Suburb,Address,Rooms,Type,Price,Date,Distance,Bedroom2,Bathroom,Car,Landsize
29219,Airport West,32 Coniston Av,3,h,970000.0,2018-06-01,10.4,3.0,1.0,2.0,634.0
29220,Airport West,23 Matthews Av,4,h,790000.0,2018-06-01,10.4,4.0,2.0,1.0,585.0
29221,Airport West,8 Miriam Ct,3,h,1025000.0,2018-06-01,10.4,3.0,1.0,1.0,791.0
29227,Altona,175 Blyth St,4,u,1160000.0,2018-06-01,11.0,4.0,3.0,3.0,689.0
29228,Altona,17 Merritt Ct,3,h,925000.0,2018-06-01,11.0,3.0,1.0,4.0,836.0

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2186 entries, 29219 to 34856
Data columns (total 11 columns):
Suburb      2186 non-null object
Address     2186 non-null object
Rooms       2186 non-null int64
Type        2186 non-null object
Price       2186 non-null float64
Date        2186 non-null datetime64[ns]
Distance    2186 non-null float64
Bedroom2    2186 non-null float64
Bathroom    2186 non-null float64
Car         2186 non-null float64
Landsize    2186 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 204.9+ KB

In [153]:
df.groupby('Type').describe()

       Rooms                                                Price  \
       count      mean       std  min  25%  50%  75%  max   count
Type
h     2044.0  3.425147  0.770716  1.0  3.0  3.0  4.0  7.0  2044.0
t      125.0  3.032000  0.646779  1.0  3.0  3.0  3.0  4.0   125.0
u       17.0  2.529412  0.624264  2.0  2.0  2.0  3.0  4.0    17.0

                    ...  Car       Landsize                                  \
              mean  ...  75%   max    count        mean          std    min
Type                ...
h     1.166221e+06  ...  2.0  11.0   2044.0  642.894325  1349.126149   66.0
t     9.836160e+05  ...  2.0   4.0    125.0  307.768000   276.330218   71.0
u     6.848824e+05  ...  2.0   6.0     17.0  456.470588   340.472487  105.0


        25%    50%    75%      max
Type
h     441.0  590.0  690.0  42800.0
t     188.0  256.0  334.0   2399.0
u     233.0  334.0  689.0   1439.0

[3 rows x 56 columns]

In [192]:
# df['Type'] = df['Type'].map({'h': 'House', 't': 'Townhouse','u':'Apartment'}) 

# #Changing Names of Properties (RUN ONCE)

In [156]:
df.isna().sum()

Suburb      0
Address     0
Rooms       0
Type        0
Price       0
Date        0
Distance    0
Bedroom2    0
Bathroom    0
Car         0
Landsize    0
dtype: int64

In [157]:
df.rename(columns={'Date': 'Date_Sold', 'Bedroom2':'Bedrooms','Bathroom':'Bathrooms','Car':'Parking_Spaces','Distance':'Distance_to_Melbourne_CBD','Landsize':'Size'}, inplace=True)

In [193]:
df.query('Rooms == Bedrooms')

UndefinedVariableError: name 'Rooms' is not defined

In [159]:
df.drop(['Rooms'], axis=1, inplace = True)

In [160]:
df['Suburb'].unique()

array(['Airport West', 'Altona', 'Altona Meadows', 'Altona North',
       'Ardeer', 'Ashwood', 'Aspendale', 'Avondale Heights', 'Balwyn',
       'Balwyn North', 'Bayswater', 'Bentleigh', 'Bentleigh East',
       'Berwick', 'Blackburn North', 'Blackburn South', 'Boronia',
       'Braybrook', 'Briar Hill', 'Brighton', 'Brighton East',
       'Brunswick', 'Brunswick West', 'Bulleen', 'Bundoora', 'Cairnlea',
       'Camberwell', 'Carlton', 'Carlton North', 'Carnegie',
       'Caulfield South', 'Chadstone', 'Cheltenham', 'Clarinda',
       'Clifton Hill', 'Coburg', 'Coburg North', 'Collingwood',
       'Craigieburn', 'Cremorne', 'Deepdene', 'Diamond Creek',
       'Dingley Village', 'Doncaster', 'Doncaster East', 'Doreen',
       'Endeavour Hills', 'Epping', 'Essendon', 'Fairfield', 'Fawkner',
       'Ferntree Gully', 'Fitzroy', 'Frankston', 'Frankston South',
       'Gisborne', 'Gladstone Park', 'Glen Iris', 'Glenroy', 'Gowanbrae',
       'Greensborough', 'Greenvale', 'Hadfield', 'Hampton',
       'Hampton East', 'Hawthorn', 'Highett', 'Hillside',
       'Hoppers Crossing', 'Ivanhoe', 'Jacana', 'Keilor Downs',
       'Keilor East', 'Keilor Park', 'Kew East', 'Keysborough', 'Kilsyth',
       'Kings Park', 'Kingsville', 'Kurunjang', 'Lalor', 'Langwarrin',
       'Maidstone', 'Malvern', 'Malvern East', 'Maribyrnong', 'McKinnon',
       'Melton', 'Melton West', 'Mentone', 'Mernda', 'Mill Park',
       'Mitcham', 'Mont Albert', 'Moonee Ponds', 'Mooroolbark',
       'Mulgrave', 'Murrumbeena', 'New Gisborne', 'Niddrie', 'Noble Park',
       'Northcote', 'Nunawading', 'Parkdale', 'Pascoe Vale', 'Point Cook',
       'Preston', 'Reservoir', 'Richmond', 'Ringwood', 'Ringwood East',
       'Ripponlea', 'Rowville', 'Roxburgh Park', 'Seaford',
       'South Morang', 'Spotswood', 'St Albans', 'St Kilda', 'Sunbury',
       'Sunshine West', 'Sydenham', 'Taylors Hill', 'Taylors Lakes',
       'Templestowe Lower', 'Thomastown', 'Thornbury', 'Viewbank',
       'Wallan', 'Wantirna', 'Wantirna South', 'Watsonia North',
       'Wattle Glen', 'Werribee', 'West Footscray', 'Williams Landing',
       'Williamstown', 'Windsor', 'Wollert', 'Wyndham Vale',
       'Caroline Springs', 'Clayton South', 'Croydon', 'Deer Park',
       'Emerald', 'Footscray', 'Forest Hill', 'Glen Waverley',
       'Heathmont', 'Heidelberg Heights', 'Kingsbury', 'Meadow Heights',
       'Melton South', 'Oakleigh', 'Seddon', 'Yarraville', 'Ascot Vale',
       'Beaumaris', 'Blackburn', 'Broadmeadows', 'Brooklyn',
       'Brunswick East', 'Burwood East', 'Chelsea Heights', 'Dallas',
       'Edithvale', 'Eltham', 'Heatherton', 'Kealba', 'Moorabbin',
       'Narre Warren', 'Port Melbourne', 'Rosanna', 'Sandhurst',
       'Sandringham', 'South Kingsville', 'Sunshine', 'Tarneit',
       'Truganina', 'Tullamarine', 'Upwey', 'Wheelers Hill',
       'Williamstown North', 'Dandenong North', 'Knoxfield',
       'Surrey Hills', 'Albert Park', 'Alphington', 'Ashburton',
       'Aspendale Gardens', 'Black Rock', 'Box Hill', 'Burwood',
       'Carrum Downs', 'Coolaroo', 'Dandenong', 'Diggers Rest',
       'Eaglemont', 'Elsternwick', 'Elwood', 'Fitzroy North',
       'Hawthorn East', 'Ivanhoe East', 'Keilor', 'Kensington', 'Kew',
       'Laverton', 'Lower Plenty', 'Middle Park', 'Mordialloc',
       'Mount Waverley', 'Newport', 'Oakleigh East', 'Ormond', 'Prahran',
       'Riddells Creek', 'Ringwood North', 'Scoresby', 'South Melbourne',
       'South Yarra', 'St Helena', 'Strathmore', 'Sunshine North',
       'Templestowe', 'Vermont South', 'Wandin North', 'Warrandyte',
       'Watsonia', 'Westmeadows', 'Yallambie', 'Heidelberg',
       'Lysterfield', 'Officer', 'Pakenham', 'Abbotsford', 'Burnley',
       'Canterbury', 'Croydon North', 'Croydon South', 'Delahey',
       'Derrimut', 'Donvale', 'Heidelberg West', 'Lilydale', 'Mickleham',
       'Montmorency', 'Springvale', 'Strathmore Heights', 'Vermont',
       'Aberfeldie', 'Albion', 'Armadale', 'Bonbeach', 'Campbellfield',
       'Clayton', 'Cranbourne North', 'Flemington', 'Glen Huntly',
       'Hughesdale', 'Kalkallo', 'North Melbourne', 'Oak Park',
       'Oakleigh South', 'Patterson Lakes', 'Princes Hill', 'Rockbank',
       'Toorak', 'Travancore', 'West Melbourne', 'Attwood', 'Balaclava',
       'Bellfield', 'Bullengarook', 'Burnside Heights', 'Caulfield East',
       'Chelsea', 'Chirnside Park', 'Cranbourne', 'Croydon Hills',
       'Doveton', 'Eltham North', 'Essendon North', 'Essendon West',
       'Gardenvale', 'Keilor Lodge', 'Kooyong', 'Research', 'Seaholme',
       'Warranwood', 'Werribee South'], dtype=object)

In [59]:
df.sort_values(by='Date_Sold', ascending = True)

,Suburb,Address,Type,Price,Date_Sold,Distance_to_Melbourne_CBD,Bedrooms,Bathrooms,Parking_Spaces,Size
31389,Airport West,78 King St,House,1025000.0,2018-01-20,10.4,5.0,2.0,3.0,764.0
31391,Dandenong North,4 Crouch Ct,House,631000.0,2018-01-20,24.7,3.0,1.0,1.0,557.0
31395,Kilsyth,22 Colchester Rd,House,650000.0,2018-01-20,26.0,3.0,1.0,1.0,623.0
31396,Knoxfield,6 Honeypot Cl,House,935000.0,2018-01-20,23.3,5.0,3.0,2.0,528.0
31402,Rosanna,3 Pickworth Ct,House,1180000.0,2018-01-20,8.9,4.0,2.0,2.0,628.0
...,...,...,...,...,...,...,...,...,...,...
32310,Craigieburn,13 Creighton Wy,House,613500.0,2018-10-03,20.6,4.0,2.0,2.0,584.0
32311,Craigieburn,34 Emblem Wy,House,740000.0,2018-10-03,20.6,4.0,2.0,2.0,512.0
32312,Craigieburn,3 Epsom Ct,House,650000.0,2018-10-03,20.6,4.0,2.0,2.0,694.0
32292,Bulleen,42 Apex Cr,House,1158000.0,2018-10-03,10.8,4.0,2.0,1.0,603.0
32306,Coburg North,2 Gaffney St,Townhouse,850000.0,2018-10-03,6.7,3.0,2.0,2.0,220.0

In [60]:
df = df.loc[df.Distance_to_Melbourne_CBD <= (25)]

In [161]:
df['Distance_to_Melbourne_CBD'].describe()

count    2186.000000
mean       14.163815
std         7.829248
min         1.600000
25%         8.200000
50%        13.400000
75%        18.000000
max        48.100000
Name: Distance_to_Melbourne_CBD, dtype: float64

In [163]:
typehome = pd.DataFrame(df['Type'])

In [177]:
typehome = pd.get_dummies(typehome, drop_first = True)

In [174]:
df = df.drop(['Type'], axis = 1)

In [178]:
df = pd.concat([typehome, df], axis = 1)

In [179]:
df

,Type_House,Type_Townhouse,Suburb,Address,Price,Date_Sold,Distance_to_Melbourne_CBD,Bedrooms,Bathrooms,Parking_Spaces,Size
29219,1,0,Airport West,32 Coniston Av,970000.0,2018-06-01,10.4,3.0,1.0,2.0,634.0
29220,1,0,Airport West,23 Matthews Av,790000.0,2018-06-01,10.4,4.0,2.0,1.0,585.0
29221,1,0,Airport West,8 Miriam Ct,1025000.0,2018-06-01,10.4,3.0,1.0,1.0,791.0
29227,0,0,Altona,175 Blyth St,1160000.0,2018-06-01,11.0,4.0,3.0,3.0,689.0
29228,1,0,Altona,17 Merritt Ct,925000.0,2018-06-01,11.0,3.0,1.0,4.0,836.0
...,...,...,...,...,...,...,...,...,...,...,...
34849,1,0,Wollert,35 Kingscote Wy,570000.0,2018-02-24,25.5,3.0,2.0,2.0,404.0
34852,1,0,Yarraville,13 Burns St,1480000.0,2018-02-24,6.3,4.0,1.0,3.0,593.0
34853,1,0,Yarraville,29A Murray St,888000.0,2018-02-24,6.3,2.0,2.0,1.0,98.0
34854,0,1,Yarraville,147A Severn St,705000.0,2018-02-24,6.3,2.0,1.0,2.0,220.0
34856,1,0,Yarraville,3 Tarrengower St,1020000.0,2018-02-24,6.3,2.0,1.0,0.0,250.0

In [191]:
df.sort_values(by = ['Distance_to_Melbourne_CBD'])

,Type_House,Type_Townhouse,Suburb,Address,Price,Date_Sold,Distance_to_Melbourne_CBD,Bedrooms,Bathrooms,Parking_Spaces,Size
32524,0,0,Carlton,226 Elgin St,650000.0,2018-02-17,1.6,2.0,1.0,4.0,1439.0
29353,1,0,Carlton,173 Drummond St,3825000.0,2018-06-01,1.6,4.0,1.0,2.0,316.0
32523,1,0,Carlton,164 Canning St,1252000.0,2018-02-17,1.6,1.0,1.0,1.0,138.0
33168,0,1,Carlton,26 Tyne St,1750000.0,2018-03-17,1.6,3.0,2.0,2.0,2399.0
33598,1,0,North Melbourne,9 George St,1270000.0,2018-03-17,1.8,3.0,2.0,2.0,214.0
...,...,...,...,...,...,...,...,...,...,...,...
33356,1,0,Gisborne,47 Willowbank Rd,1250000.0,2018-03-17,45.9,4.0,2.0,4.0,2647.0
31763,1,0,Gisborne,47 Goode St,940000.0,2018-03-03,45.9,4.0,3.0,2.0,1011.0
32384,1,0,Pakenham,1 Smethurst Av,510000.0,2018-10-03,47.3,3.0,1.0,0.0,945.0
32083,1,0,Riddells Creek,5 Sutherlands Rd,625000.0,2018-03-03,47.4,3.0,2.0,3.0,1184.0
29755,1,0,New Gisborne,14 Carbine Ct,625000.0,2018-06-01,48.1,3.0,2.0,2.0,850.0