In [691]:
import numpy as np
import pandas as pd
kc = pd.read_csv('kc_house_data.csv')

In [736]:
kc.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,LivingSpaceNeighbors,"(Big House,)","(Small House,)"
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,...,1955,0.0,98178,47.5112,-122.257,1340,5650,"(Average House,)",0,0
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,1951,1991.0,98125,47.7210,-122.319,1690,7639,"(Average House,)",0,0
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,1933,NaN,98028,47.7379,-122.233,2720,8062,"(Small House,)",0,1
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1965,0.0,98136,47.5208,-122.393,1360,5000,"(Average House,)",0,0
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1987,0.0,98074,47.6168,-122.045,1800,7503,"(Average House,)",0,0

In [693]:
kc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [694]:
kc.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

# Looking at each variable - changes made below

### Date

In [695]:
#change to datetime

In [697]:
kc['date'] = pd.to_datetime(kc['date'])

### Sqft_Basement

In [698]:
##replaced ? (434) with 0

In [699]:
kc['sqft_basement'].value_counts()

0.0       12826
?           454
600.0       217
500.0       209
700.0       208
          ...
274.0         1
1960.0        1
2610.0        1
1913.0        1
2810.0        1
Name: sqft_basement, Length: 304, dtype: int64

In [700]:
kc['sqft_basement'].replace({'?': 0}, inplace = True)

In [701]:
kc['sqft_basement'].unique()

array(['0.0', '400.0', '910.0', '1530.0', 0, '730.0', '1700.0', '300.0',
       '970.0', '760.0', '720.0', '700.0', '820.0', '780.0', '790.0',
       '330.0', '1620.0', '360.0', '588.0', '1510.0', '410.0', '990.0',
       '600.0', '560.0', '550.0', '1000.0', '1600.0', '500.0', '1040.0',
       '880.0', '1010.0', '240.0', '265.0', '290.0', '800.0', '540.0',
       '710.0', '840.0', '380.0', '770.0', '480.0', '570.0', '1490.0',
       '620.0', '1250.0', '1270.0', '120.0', '650.0', '180.0', '1130.0',
       '450.0', '1640.0', '1460.0', '1020.0', '1030.0', '750.0', '640.0',
       '1070.0', '490.0', '1310.0', '630.0', '2000.0', '390.0', '430.0',
       '850.0', '210.0', '1430.0', '1950.0', '440.0', '220.0', '1160.0',
       '860.0', '580.0', '2060.0', '1820.0', '1180.0', '200.0', '1150.0',
       '1200.0', '680.0', '530.0', '1450.0', '1170.0', '1080.0', '960.0',
       '280.0', '870.0', '1100.0', '460.0', '1400.0', '660.0', '1220.0',
       '900.0', '420.0', '1580.0', '1380.0', '475.0', '690.0', '270.0',
       '350.0', '935.0', '1370.0', '980.0', '1470.0', '160.0', '950.0',
       '50.0', '740.0', '1780.0', '1900.0', '340.0', '470.0', '370.0',
       '140.0', '1760.0', '130.0', '520.0', '890.0', '1110.0', '150.0',
       '1720.0', '810.0', '190.0', '1290.0', '670.0', '1800.0', '1120.0',
       '1810.0', '60.0', '1050.0', '940.0', '310.0', '930.0', '1390.0',
       '610.0', '1830.0', '1300.0', '510.0', '1330.0', '1590.0', '920.0',
       '1320.0', '1420.0', '1240.0', '1960.0', '1560.0', '2020.0',
       '1190.0', '2110.0', '1280.0', '250.0', '2390.0', '1230.0', '170.0',
       '830.0', '1260.0', '1410.0', '1340.0', '590.0', '1500.0', '1140.0',
       '260.0', '100.0', '320.0', '1480.0', '1060.0', '1284.0', '1670.0',
       '1350.0', '2570.0', '1090.0', '110.0', '2500.0', '90.0', '1940.0',
       '1550.0', '2350.0', '2490.0', '1481.0', '1360.0', '1135.0',
       '1520.0', '1850.0', '1660.0', '2130.0', '2600.0', '1690.0',
       '243.0', '1210.0', '1024.0', '1798.0', '1610.0', '1440.0',
       '1570.0', '1650.0', '704.0', '1910.0', '1630.0', '2360.0',
       '1852.0', '2090.0', '2400.0', '1790.0', '2150.0', '230.0', '70.0',
       '1680.0', '2100.0', '3000.0', '1870.0', '1710.0', '2030.0',
       '875.0', '1540.0', '2850.0', '2170.0', '506.0', '906.0', '145.0',
       '2040.0', '784.0', '1750.0', '374.0', '518.0', '2720.0', '2730.0',
       '1840.0', '3480.0', '2160.0', '1920.0', '2330.0', '1860.0',
       '2050.0', '4820.0', '1913.0', '80.0', '2010.0', '3260.0', '2200.0',
       '415.0', '1730.0', '652.0', '2196.0', '1930.0', '515.0', '40.0',
       '2080.0', '2580.0', '1548.0', '1740.0', '235.0', '861.0', '1890.0',
       '2220.0', '792.0', '2070.0', '4130.0', '2250.0', '2240.0',
       '1990.0', '768.0', '2550.0', '435.0', '1008.0', '2300.0', '2610.0',
       '666.0', '3500.0', '172.0', '1816.0', '2190.0', '1245.0', '1525.0',
       '1880.0', '862.0', '946.0', '1281.0', '414.0', '2180.0', '276.0',
       '1248.0', '602.0', '516.0', '176.0', '225.0', '1275.0', '266.0',
       '283.0', '65.0', '2310.0', '10.0', '1770.0', '2120.0', '295.0',
       '207.0', '915.0', '556.0', '417.0', '143.0', '508.0', '2810.0',
       '20.0', '274.0', '248.0'], dtype=object)

In [702]:
##changed to float and all values over 0 to 1 - if basement yes if not no

In [703]:
kc['sqft_basement'] = kc['sqft_basement'].astype(float)

In [704]:
kc['sqft_basement'].values[kc['sqft_basement'].values > 0] = 1

In [705]:
#change to category type

In [706]:
kc['sqft_basement'] = kc['sqft_basement'].astype('category')

In [707]:
kc['sqft_basement'].dtype

CategoricalDtype(categories=[0.0, 1.0], ordered=False)

### Waterfront View

In [708]:
# replaced NaN with 0 --> Binary (1,0) For view of waterfront

In [709]:
kc['waterfront'].fillna(0, inplace = True)

In [710]:
#change to category variable

In [711]:
kc['waterfront'] = kc['waterfront'].astype('category')

In [712]:
kc['waterfront'].dtype

CategoricalDtype(categories=[0.0, 1.0], ordered=False)

### Grade

In [713]:
#Changed 3-13 Grade --> 0-10

In [714]:
kc['grade'] = kc['grade'].apply(lambda x: x -3)

In [715]:
kc['grade'].value_counts()

4     8974
5     6065
6     2615
3     2038
7     1134
8      399
2      242
9       89
1       27
10      13
0        1
Name: grade, dtype: int64

### View (Tour Rating)

In [716]:
#Scaled 0 - 4 (0 no tour, 1 bad tour ... 4 excellent tour)

In [717]:
kc['view'].value_counts()

0.0    19422
2.0      957
3.0      508
1.0      330
4.0      317
Name: view, dtype: int64

In [718]:
kc['view'].isnull().sum()

63

In [719]:
kc['view'].fillna(0, inplace = True)

In [720]:
kc['condition'].value_counts()

3    14020
4     5677
5     1701
2      170
1       29
Name: condition, dtype: int64

### SqftLot, SqftLiving, Sqft15

In [721]:
kc['sqft_lot15'].describe

<bound method NDFrame.describe of 0        5650
1        7639
2        8062
3        5000
4        7503
         ...
21592    1509
21593    7200
21594    2007
21595    1287
21596    1357
Name: sqft_lot15, Length: 21597, dtype: int64>

#### Creating new Add_Size that will determine living space size relative to neighborhood (15 nieghbors)

In [723]:
def add_size(kc):
    Size = []
    lower_size = kc['sqft_living'] - 1000
    raise_size = kc['sqft_living'] + 1000
    if lower_size >= kc['sqft_living15']:
        Size.append('Big House')
    elif raise_size <= kc['sqft_living15']:
        Size.append('Small House')
    else:
        Size.append('Average House')
    return Size

In [725]:
x = kc.apply(add_size, axis = 1)

In [726]:
kc['LivingSpaceNeighbors'] = tuple(x)

In [737]:
def add_size_property(kc):
    Size = []
    lower_size = kc['sqft_lot'] - 1500
    raise_size = kc['sqft_lot'] + 1500
    if lower_size >= kc['sqft_lot15']:
        Size.append('Larger_Neighborhood_Property')
    elif raise_size <= kc['sqft_lot15']:
        Size.append('Smaller_Neighborhood_Property')
    else:
        Size.append('Average_Property')
    return Size

In [738]:
p = kc.apply(add_size_property, axis = 1)

In [739]:
kc['Property_Space'] = tuple(p)

##### Getting Dummy Variables

In [727]:
kc['LivingSpaceNeighbors'] = kc['LivingSpaceNeighbors'].astype('category')

In [740]:
kc['Property_Space'] = kc['Property_Space'].astype('category')

In [731]:
dums = pd.get_dummies(kc['LivingSpaceNeighbors'], drop_first=True)

In [742]:
dums2 = pd.get_dummies(kc['Property_Space'], drop_first=True)

In [732]:
kc = pd.concat([kc, dums], axis = 1)

In [743]:
kc = pd.concat([kc, dums2], axis = 1)

In [746]:
kc[400:440]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,lat,long,sqft_living15,sqft_lot15,LivingSpaceNeighbors,"(Big House,)","(Small House,)",Property_Space,"(Larger_Neighborhood_Property,)","(Smaller_Neighborhood_Property,)"
400,9126100861,2015-03-06,557000.0,3,3.50,1710,2096,2.0,0.0,0.0,...,47.6055,-122.305,1630,1543,"(Average House,)",0,0,"(Average_Property,)",0,0
401,3420069065,2014-08-25,360000.0,4,1.75,3730,16980,1.0,0.0,0.0,...,47.1775,-122.022,1880,16963,"(Big House,)",1,0,"(Average_Property,)",0,0
402,6021501685,2015-04-22,352000.0,2,1.00,940,5000,1.0,0.0,0.0,...,47.6879,-122.385,1560,4500,"(Average House,)",0,0,"(Average_Property,)",0,0
403,1151100070,2015-02-24,437000.0,3,2.50,1750,22357,2.0,0.0,0.0,...,47.4807,-121.779,2430,22357,"(Average House,)",0,0,"(Average_Property,)",0,0
404,8856950240,2014-06-18,322500.0,4,2.50,1820,6753,2.0,0.0,0.0,...,47.3845,-122.032,1820,7107,"(Average House,)",0,0,"(Average_Property,)",0,0
405,9385200055,2014-09-12,650000.0,3,3.25,1510,2000,2.0,0.0,0.0,...,47.5815,-122.402,1510,1352,"(Average House,)",0,0,"(Average_Property,)",0,0
406,7821200390,2014-08-06,450000.0,3,2.00,1290,1213,3.0,0.0,0.0,...,47.6609,-122.344,1290,3235,"(Average House,)",0,0,"(Smaller_Neighborhood_Property,)",0,1
407,8078520310,2015-04-17,278500.0,3,2.00,1570,5250,1.0,0.0,0.0,...,47.3163,-122.188,1570,5250,"(Average House,)",0,0,"(Average_Property,)",0,0
408,1565950030,2015-04-27,364950.0,4,2.50,1930,6957,2.0,0.0,0.0,...,47.4309,-122.191,2090,6996,"(Average House,)",0,0,"(Average_Property,)",0,0
409,1560930070,2014-09-11,840000.0,4,3.50,2840,40139,1.0,0.0,4.0,...,47.4010,-122.026,3180,36852,"(Average House,)",0,0,"(Larger_Neighborhood_Property,)",1,0
410,6700400140,2015-03-18,268000.0,3,2.50,1550,8134,2.0,0.0,0.0,...,47.4040,-122.191,1550,8134,"(Average House,)",0,0,"(Average_Property,)",0,0
411,2422029094,2014-07-16,517534.0,2,1.00,833,143947,1.0,0.0,0.0,...,47.3889,-122.482,1380,143947,"(Average House,)",0,0,"(Average_Property,)",0,0
412,1774220160,2014-11-04,632925.0,3,2.50,2990,32239,2.0,0.0,0.0,...,47.7718,-122.095,2990,36497,"(Average House,)",0,0,"(Smaller_Neighborhood_Property,)",0,1
413,1525200060,2014-07-23,577500.0,3,2.50,2000,7251,2.0,0.0,0.0,...,47.7067,-122.200,2450,8118,"(Average House,)",0,0,"(Average_Property,)",0,0
414,1678400105,2015-02-12,339000.0,4,1.50,2390,7480,1.5,0.0,2.0,...,47.5040,-122.227,2850,6867,"(Average House,)",0,0,"(Average_Property,)",0,0
415,3426059070,2014-09-09,570000.0,3,1.75,2910,37461,1.0,0.0,0.0,...,47.7015,-122.164,2520,18295,"(Average House,)",0,0,"(Larger_Neighborhood_Property,)",1,0
416,824079032,2014-06-26,563500.0,4,1.75,2085,174240,1.0,0.0,0.0,...,47.5753,-121.950,2690,174240,"(Average House,)",0,0,"(Average_Property,)",0,0
417,2697100140,2015-01-05,423000.0,4,2.25,2200,9351,1.0,0.0,0.0,...,47.7448,-122.333,1910,8660,"(Average House,)",0,0,"(Average_Property,)",0,0
418,8724300030,2014-12-23,355000.0,3,2.25,1860,5028,2.0,0.0,0.0,...,47.7318,-121.982,2320,5465,"(Average House,)",0,0,"(Average_Property,)",0,0
419,8678500060,2014-07-10,1550000.0,5,4.25,6070,171626,2.0,0.0,0.0,...,47.5954,-121.950,4680,211267,"(Big House,)",1,0,"(Smaller_Neighborhood_Property,)",0,1
420,625049299,2014-12-03,482000.0,2,1.00,950,3960,1.0,0.0,0.0,...,47.6885,-122.337,1320,4050,"(Average House,)",0,0,"(Average_Property,)",0,0
421,6073200075,2014-07-30,625000.0,3,1.75,1600,9135,1.0,0.0,0.0,...,47.5724,-122.179,1580,9800,"(Average House,)",0,0,"(Average_Property,)",0,0
422,6388900710,2014-12-19,538000.0,3,2.50,2250,11632,2.0,0.0,0.0,...,47.5272,-122.169,2360,11632,"(Average House,)",0,0,"(Average_Property,)",0,0
423,1442860160,2015-01-07,380000.0,3,2.50,2280,10255,2.0,0.0,0.0,...,47.4334,-122.161,2310,10094,"(Average House,)",0,0,"(Average_Property,)",0,0
424,7942600310,2014-07-17,375000.0,2,1.00,940,5120,1.0,0.0,0.0,...,47.6073,-122.308,1300,5120,"(Average House,)",0,0,"(Average_Property,)",0,0
425,1545808560,2015-04-03,245000.0,3,2.50,1530,8500,1.0,0.0,0.0,...,47.3592,-122.046,1850,8140,"(Average House,)",0,0,"(Average_Property,)",0,0
426,936000060,2014-11-14,310000.0,5,1.75,2190,27260,1.0,0.0,0.0,...,47.4546,-122.337,1620,39480,"(Average House,)",0,0,"(Smaller_Neighborhood_Property,)",0,1
427,9808650060,2015-02-25,1300000.0,3,2.00,2350,15021,1.0,0.0,0.0,...,47.6408,-122.219,3530,15715,"(Small House,)",0,1,"(Average_Property,)",0,0
428,3754700160,2014-05-06,397000.0,4,2.00,1440,7680,1.0,0.0,0.0,...,47.7245,-122.200,1460,9660,"(Average House,)",0,0,"(Smaller_Neighborhood_Property,)",0,1
429,305500140,2015-05-12,365000.0,3,2.50,2200,4052,2.0,0.0,0.0,...,47.4362,-122.178,2310,5082,"(Average House,)",0,0,"(Average_Property,)",0,0
430,5468750060,2014-10-28,328500.0,4,3.00,2290,8250,2.0,0.0,0.0,...,47.3739,-122.156,2290,8250,"(Average House,)",0,0,"(Average_Property,)",0,0
431,2944010240,2014-09-08,988000.0,4,3.00,4040,19700,2.0,0.0,0.0,...,47.7205,-122.127,3930,21887,"(Average House,)",0,0,"(Smaller_Neighborhood_Property,)",0,1
432,3454000060,2014-07-22,1000000.0,4,2.50,2610,3277,1.5,0.0,0.0,...,47.6636,-122.330,1810,3277,"(Average House,)",0,0,"(Average_Property,)",0,0
433,646910160,2014-09-03,237000.0,3,2.50,1490,2138,2.0,0.0,0.0,...,47.4324,-122.197,1490,2094,"(Average House,)",0,0,"(Average_Property,)",0,0
434,8564950390,2014-09-19,525000.0,4,2.50,2450,5280,2.0,0.0,0.0,...,47.7734,-122.224,2300,4674,"(Average House,)",0,0,"(Average_Property,)",0,0
435,2268400350,2014-09-16,749000.0,4,2.50,1710,9627,1.0,0.0,0.0,...,47.5590,-122.164,2140,9131,"(Average House,)",0,0,"(Average_Property,)",0,0
436,7504101040,2014-08-21,722500.0,5,2.50,4870,11800,2.0,0.0,0.0,...,47.6330,-122.041,3180,11398,"(Big House,)",1,0,"(Average_Property,)",0,0
437,11500890,2015-03-12,843000.0,3,2.50,3130,8750,2.0,0.0,0.0,...,47.6954,-122.103,2860,9003,"(Average House,)",0,0,"(Average_Property,)",0,0
438,9528102772,2014-07-08,438000.0,2,2.00,1270,1372,3.0,0.0,0.0,...,47.6776,-122.318,1610,3090,"(Average House,)",0,0,"(Smaller_Neighborhood_Property,)",0,1
439,284000223,2014-09-16,578000.0,3,1.75,2120,10875,1.0,0.0,2.0,...,47.5040,-122.382,2460,11760,"(Average House,)",0,0,"(Average_Property,)",0,0

### Dummy Variable Work

In [480]:
#get dummy variable for category
# kc['condition'] = kc['condition'].astype('categeory')

In [481]:
# kc = kc.drop(['*','*'], axis=1)

In [ ]:
# condition_dums = pd.get_dummies(kc['condition'], prefix='Condition', drop_first=True)

In [482]:
# kc = pd.concat([*], axis = 1)

## Reason for dropping 
* id - irrelevant index
* yr_renovated - Missing 3.5k data points and 17k equals zero
* sqft_above - have total sqft living and yes or no basement
* zipcode - location
* sqft_living15
* sqft_lot15

In [437]:
#kc.drop(['yr_renovated','id','sqft_above','zipcode'], axis=1, inplace = True)

## Renaming Columns

In [ ]:
#kc.rename(columns={'time': 'Date', 'icon': "Forecast"}, inplace=True)

In [411]:
#linear regression models --> lasso --> ridge - learn (regularzation lecture for training data)

In [ ]:
#dummy variable for